.lintstagedrc
.prettierignore
.prettierrc
.gitignore
.dockerignore
.buckconfig
.gitattributes
.cache

yarn.lock

*.svg
*.png
*.sh
*.log

Dockerfile

**/node_modules
**/ios
**/android
**/assets

dist

.idea
.vscode
